.planit-container
  position: relative;
  display: table-cell;
  width: 868px;
  height: 400px;
  background: #000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .planit-image-container
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    overflow hidden
    img
      position absolute
      top 0
      left 0
      width 100%
  .planit-controls
    display inline-block
    position absolute
    left 15px
    top 15px
    z-index 999
    border 1px solid #C4CFD8
    border-radius 4px
    a
      &.zoom
        display block
        width 32px
        height 32px
        padding 7px
        text-decoration none
        font-size 23px
        line-height 16px
        font-weight 600
        color #2B3947
        text-align center
        background #fff
        text-shadow none
        border-bottom 1px solid #C4CFD8
        border-radius 4px 4px 0 0
        &:hover
          background #E2E2E2
      &.zoom:last-of-type
        line-height 13px
        border-bottom 0
        font-size 22px
        border-radius 0 0 4px 4px
        
  .planit-markers-container
    position relative
    width 100%
    height 100%
    overflow hidden
    .planit-marker
      position absolute
      width 25px
      height 25px
      z-index 99
      border-radius 50%
      background #D8536F !important
      border 4px solid #fff
      box-shadow 0 4px 12px rgba(0, 0, 0, 0.42)
      margin 15px
      -webkit-touch-callout none
      -webkit-user-select none
      -khtml-user-select none
      -moz-user-select none
      -ms-user-select none
      user-select none
      transition none
      &.mine
         background #afcd48 !important 
      &.draggable
        &:hover
          opacity .8
          cursor move
          cursor -webkit-grab
      &.is-dragging
        &:hover
          opacity .8
          cursor move
          cursor -webkit-grabbing
  .planit-infobox-container
    position absolute
    width 100%
    height 100%
    .planit-infobox
      position absolute
      display none
      z-index 998
      cursor initial
      width 300px
      padding 20px 15px
      cursor initial
      background #fff
      border-radius 4px
      box-shadow 0px 2px 15px rgba(0, 0, 0, 0.6)
      margin-top 14px
      margin-left 5px
      &.active
        display inline-block
      &.hidden
        display none
      &:after
        content ''
        position absolute
        width 0
        height 0
      &.arrow
        &.top
          &:after
            top 100%
            left 50%
            margin-left -10px
            border-top solid 10px #fff
            border-left solid 10px transparent
            border-right solid 10px transparent
        &.right
          &:after
            top 50%
            right 100%
            margin-top -10px
            border-right solid 10px #fff
            border-top solid 10px transparent
            border-bottom solid 10px transparent
        &.bottom
          &:after
            bottom 100%
            left 50%
            margin-left -10px
            border-bottom solid 10px #fff
            border-left solid 10px transparent
            border-right solid 10px transparent
        &.left
          &:after
            top 50%
            left 100%
            margin-top -10px
            border-left solid 10px #fff
            border-top solid 10px transparent
            border-bottom solid 10px transparent

