#auth.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
            p
                Вы можете авторизоваться одним из нескольких способов:
            hr
            a.btn.btn-block.btn-social.btn-vk
              span.fa.fa-vk
              | Вконтакте
            a.btn.btn-block.btn-social.btn-facebook
              span.fa.fa-facebook
              | Facebook
            a.btn.btn-block.btn-social.btn-twitter
              span.fa.fa-twitter
              | Twitter
    // /.modal-content
  // /.modal-dialog
// /.modal
