.modal.fade#commented_people(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
             .row.people
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                    a(href='#').commented_person
                        img(src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg")
                        span 
                            Олег 
                        span 
                            Пличко
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                    a(href='#').commented_person
                        img(src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg")
                        span 
                            Роман 
                        span
                            Кихтенко
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                    a(href='#').commented_person
                        img(src="https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg")
                        span 
                            Артем 
                        span
                            Понкратов
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                    a(href='#').commented_person
                        img(src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg")
                        span 
                            Владислава 
                        span
                            Моррис
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                    a(href='#').commented_person
                        img(src="https://s3.amazonaws.com/uifaces/faces/twitter/joshhemsley/128.jpg")
                        span 
                            Алексей 
                        span
                            Морозов
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                    a(href='#').commented_person
                        img(src="https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/128.jpg")
                        span 
                            Екатерина 
                        span 
                            Пупкина
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                    a(href='#').commented_person
                        img(src="https://s3.amazonaws.com/uifaces/faces/twitter/jonohunt/128.jpg")
                        span 
                            Сергей 
                        span 
                            Кожевников
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                    a(href='#').commented_person
                        img(src="https://s3.amazonaws.com/uifaces/faces/twitter/esthercrawford/128.jpg")
                        span 
                            Ольга 
                        span 
                            Зорина
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                    a(href='#').commented_person
                        img(src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg")
                        span 
                            Олег 
                        span 
                            Пличко
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                    a(href='#').commented_person
                        img(src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg")
                        span 
                            Роман 
                        span
                            Кихтенко
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                    a(href='#').commented_person
                        img(src="https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg")
                        span 
                            Артем 
                        span
                            Понкратов
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                    a(href='#').commented_person
                        img(src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg")
                        span 
                            Владислава 
                        span
                            Моррис
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                    a(href='#').commented_person
                        img(src="https://s3.amazonaws.com/uifaces/faces/twitter/joshhemsley/128.jpg")
                        span 
                            Алексей 
                        span
                            Морозов
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                    a(href='#').commented_person
                        img(src="https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/128.jpg")
                        span 
                            Екатерина 
                        span 
                            Пупкина
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                    a(href='#').commented_person
                        img(src="https://s3.amazonaws.com/uifaces/faces/twitter/jonohunt/128.jpg")
                        span 
                            Сергей 
                        span 
                            Кожевников
                .col-lg-2.col-md-2.col-sm-4.col-xs-12
                    a(href='#').commented_person
                        img(src="https://s3.amazonaws.com/uifaces/faces/twitter/esthercrawford/128.jpg")
                        span 
                            Ольга 
                        span 
                            Зорина
                    
          .modal-footer
            button.btn.btn-primary.center-block.text-center.caps(data-dismiss='modal')
                Закрыть

