#confirm.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
            p
                Вы действительно хотите удалить эту работу 
                br
                и все комментарии к ней?
            hr
            .centered_btns
                a.btn.btn_primary
                    Удалить
                a.btn.ghost_button(data-dismiss='modal')
                    Отмена
            .clearfix
    // /.modal-content
  // /.modal-dialog
// /.modal
