#edit_work.modal.modal-fullscreen.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-body
        div#planit
        div.user_tips
          button.close(type='button', data-dismiss='modal')
                span(aria-hidden='true') ×
          .clearfix
          - var tips = 1
          if tips == 0
              img.no_tips.text-center(src='img/bubble.svg')
              span.caps.text-center.center-block.gray ДЛЯ ДОБАВЛЕНИЯ КОММЕНТАРИЯ НАЖМИТЕ НА ИЗОБРАЖЕНИЯ В НУЖНОМ МЕСТЕ
          else
              .media.active
                  .media-left
                    a(href='#')
                      img.media-object(src='img/small_avatar.png')
                  .media-body
                    h4.media-heading Артём Абзанов
                    span.marker-date 24 апр в 23:17
                    .tips_counter
                        span 4
                        img(src='img/comments_i.svg')
                .media
                  .media-left
                    a(href='#')
                      img.media-object(src='img/small_avatar2.png')
                  .media-body
                    h4.media-heading Кристина Юдина
                    span.marker-date 24 апр в 23:17
                    .tips_counter
                        span 4
                        img(src='img/comments_i.svg')
                .media
                  .media-left
                    a(href='#')
                      img.media-object(src='img/small_avatar.png')
                  .media-body
                    h4.media-heading Артём Абзанов
                    span.marker-date 24 апр в 23:17
                    .tips_counter
                        span 4
                        img(src='img/comments_i.svg')
                .media
                  .media-left
                    a(href='#')
                      img.media-object(src='img/small_avatar2.png')
                  .media-body
                    h4.media-heading Кристина Юдина
                    span.marker-date 24 апр в 23:17
                    .tips_counter
                        span 4
                        img(src='img/comments_i.svg')
                .media
                  .media-left
                    a(href='#')
                      img.media-object(src='img/small_avatar.png')
                  .media-body
                    h4.media-heading Артём Абзанов
                    span.marker-date 24 апр в 23:17
                    .tips_counter
                        span 4
                        img(src='img/comments_i.svg')
                .media
                  .media-left
                    a(href='#')
                      img.media-object(src='img/small_avatar2.png')
                  .media-body
                    h4.media-heading Кристина Юдина
                    span.marker-date 24 апр в 23:17
                    .tips_counter
                        span 4
                        img(src='img/comments_i.svg')
                .media
                  .media-left
                    a(href='#')
                      img.media-object(src='img/small_avatar.png')
                  .media-body
                    h4.media-heading Артём Абзанов
                    span.marker-date 24 апр в 23:17
                    .tips_counter
                        span 4
                        img(src='img/comments_i.svg')
                .media
                  .media-left
                    a(href='#')
                      img.media-object(src='img/small_avatar2.png')
                  .media-body
                    h4.media-heading Кристина Юдина
                    span.marker-date 24 апр в 23:17
                    .tips_counter
                        span 4
                        img(src='img/comments_i.svg')
