footer.footer
      .container
        p.text-muted.text-center
            strong ARTWORK © 2016.
            Все работы принадлежат их непосредственным владельцам.
//- Vendor JavaScript
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
//- Java Scripts
script(src='js/app.js')