nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') 
            img(src='img/logo.svg')
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.unclickable.visible-xs
              a#user_info  
                img.avatar(src='img/avatar.png')
                span Шутов Алексей
            li.active
              a(href='#') Все работы
            li
              a(href='#') Мои работы
            li.blue.visible-xs
              a(href="#", data-toggle='modal', data-target='#upload_work') Добавить работу
            li.visible-xs
              a#open-button.open-button(href='#', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar') Уведомления
              .alarm.blink_slow
                    .alarm_wrapper.blink
                        i.icon.chapter_iconsalarm
            li.visible-xs
              a(href='#') Выход
          ul.nav.navbar-nav.navbar-right.hidden-xs
            li
              a(href="#", data-toggle='modal', data-target='#upload_work').add_work
                span.add_but +
                добавить работу
            li
              a#user_info(href="#", data-toggle='popover', data-placement='bottom', data-trigger='focus', data-html='true', data-content='<span class="tooltip_text">Шутов Алексей</span>') 
                img.avatar(src='img/avatar.png')
            li.recent_information
               a#open-button.open-button(href="#")
                .alarm.blink_slow
                    .alarm_wrapper.blink
                        i.icon.chapter_iconsalarm
            li
              a(href="#")
                i.icon.chapter_iconsturn-off
        