nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') 
            img(src='img/logo.svg')
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.visible-xs
              a(data-toggle='modal', data-target='#auth') Войти
          ul.nav.navbar-nav.navbar-right.hidden-xs
            li
              a#go_auth.btn.btn_primary(data-toggle='modal', data-target='#auth') Войти
                
        // /.nav-collapse
        