head
        title Artwork
        meta(name='description', content='Artwork позволяет делиться частью проекта в интернете перед тем, как вы покажите его клиенту. Это шанс провести быстрое черновое тестирование, а также способ оценить реакцию с минимальным риском.')
        meta(name='keywords', content='artwork, дизайн, критика, фидбэк')
        meta(name='author', content='Artwork')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(property='og:type', content='article')
        meta(property='og:site_name', content='Artwork')
        meta(property='og:title', content='Artwork')
        meta(property='og:description', content='Artwork позволяет делиться частью проекта в интернете перед тем, как вы покажите его клиенту. Это шанс провести быстрое черновое тестирование, а также способ оценить реакцию с минимальным риском.')
        meta(property='og:url', content='https://artwork.pro')
        meta(property='og:locale', content='ru_RU')
        meta(property='og:image', content='https://artwork.pro/og_banner.jpg')
        meta(property='og:image:width', content='968')
        meta(property='og:image:height', content='504')
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:title', content='Artwork')
        meta(name='twitter:description', content='Artwork позволяет делиться частью проекта в интернете перед тем, как вы покажите его клиенту. Это шанс провести быстрое черновое тестирование, а также способ оценить реакцию с минимальным риском.')
        meta(name='twitter:image:src', content='https://artwork.pro/og_banner.jpg')
        meta(name='twitter:url', content='https://artwork.pro')
        meta(name='twitter:domain', content='artwork.pro')
        meta(name='twitter:site', content='Artwork')
        meta(name='twitter:creator', content='Artwork')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
        link(rel='apple-touch-icon', sizes='180x180', href='apple-touch-icon.png')
        link(rel='icon', type='image/png', href='favicon-32x32.png', sizes='32x32')
        link(rel='icon', type='image/png', href='favicon-16x16.png', sizes='16x16')
        link(rel='manifest', href='manifest.json')
        link(rel='mask-icon', href='safari-pinned-tab.svg', color='#5bbad5')
        meta(name='theme-color', content='#ffffff')
        
        //- Vendor Stylesheets
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
        //- Shims
        <!--[if lt IE 9]>
        script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        <![endif]-->
        //- Stylesheet
        link(rel='stylesheet', href='css/style.css')