.modal.fade#upload_work(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
        form#work_upload
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
              .form-group
                label(for='work_decr') ВВЕДИТЕ ОПИСАНИЕ РАБОТЫ
                textarea#work_descr.form-control(name='work_descr', required='', minlength='50', maxlength='400')
                #dropzone
                    .dz-message(data-dz-message='')
                        span
                             i.icon.chapter_iconsupload
                             br
                             ПЕРЕТАЩИТЕ ФАЙЛ СЮДА
                             br
                             span.or
                                ИЛИ 
                             br
                             a(href='#').choose_file
                                ВЫБЕРИТЕ ИЗ КАТАЛОГА
          .modal-footer
            button#notification-trigger.progress-button.btn.btn-primary.center-block.text-center.caps(type='submit')
                span.content Выложить работу
                span.progress
            #notification-upload

