.menu-wrap
    .switcher.pull-right
            input.js-switch(type='checkbox', checked='false')
    p.white
        Уведомления включены
    hr
    .media
      .media-left
        a(href='#')
          img.media-object(src='img/small_avatar.png')
      .media-body
        h4.media-heading Артём Абзанов
        | Оценил вашу работу
    .media
      .media-left
        a(href='#')
          img.media-object(src='img/small_avatar2.png')
      .media-body
        h4.media-heading Кристина Юдина
        | Оставила комментарий к вашей работе
    .media
      .media-left
        a(href='#')
          img.media-object(src='img/small_avatar.png')
      .media-body
        h4.media-heading Артём Абзанов
        | Оценил вашу работу
    .media
      .media-left
        a(href='#')
          img.media-object(src='img/small_avatar2.png')
      .media-body
        h4.media-heading Кристина Юдина
        | Посчитала ваш комментарий полезным
      hr.visible-xs-block
      .btn.btn-primary.center-block.text-center.caps.switcher.visible-xs-block#close-button Закрыть
    
        
       