.editableform
  margin-bottom 0
  .control-group
    margin-bottom 0
    white-space nowrap
    line-height 20px
  .form-control
    width auto
  .editable-date
    padding 0
    margin 0
    float left

.editable-buttons
  display inline-block
  vertical-align top
  margin-left 7px
  zoom 1
  *display inline
  &.editable-buttons-bottom
    display block
    margin-top 7px
    margin-left 0
  .editable-cancel
    margin-left 7px
  button
    &.ui-button-icon-only
      height 24px
      width 30px

.editable-input
  vertical-align top
  display inline-block
  width auto
  white-space normal
  zoom 1
  *display inline

.editableform-loading
  background url('../img/loading.gif') center center no-repeat
  height 25px
  width auto
  min-width 25px

.editable-inline
  .editableform-loading
    background-position left 5px
  .add-on
    .icon-th
      margin-top 3px
      margin-left 1px

.editable-error-block
  max-width 300px
  margin 5px 0 0 0
  width auto
  white-space normal
  &.ui-state-error
    padding 3px

.editable-error
  color red

.editable-checklist label input[type="checkbox"], 
.editable-checklist label span
  vertical-align middle
  margin 0

.editable-checklist
  label
    white-space nowrap

.editable-wysihtml5
  width 566px
  height 250px

.editable-clear
  clear both
  font-size 0.9em
  text-decoration none
  text-align right

.editable-clear-x
  background url('../img/clear.png') center center no-repeat
  display block
  width 13px
  height 13px
  position absolute
  opacity 0.6
  z-index 100
  top 50%
  right 6px
  margin-top -6px
  &:hover
    opacity 1

.editable-pre-wrapped
  white-space pre-wrap

.editable-container
  &.editable-popup
    max-width none !important
  &.popover
    width auto
  &.editable-inline
    display inline-block
    vertical-align middle
    width auto
    zoom 1
    *display inline
  &.ui-widget
    font-size inherit
    z-index 9990

.editable-click, 
a.editable-click, 
a.editable-click:hover
  text-decoration none
  //border-bottom dashed 1px #0088cc

.editable-click.editable-disabled, 
a.editable-click.editable-disabled, 
a.editable-click.editable-disabled:hover
  color #585858
  cursor default
  border-bottom none

.editable-empty, .editable-empty:hover, .editable-empty:focus
  font-style italic
  color #DD1144
  text-decoration none

.editable-unsaved
  font-weight bold

.editable-bg-transition
  -webkit-transition background-color 1400ms ease-out
  -moz-transition background-color 1400ms ease-out
  -o-transition background-color 1400ms ease-out
  -ms-transition background-color 1400ms ease-out
  transition background-color 1400ms ease-out

.form-horizontal
  .editable
    padding-top 5px
    display inline-block

.datepicker
  padding 4px
  -webkit-border-radius 4px
  -moz-border-radius 4px
  border-radius 4px
  direction ltr
  &.datepicker-rtl
    direction rtl
    table
      tr
        td
          span
            float right
  & > div
    display none
  &.days
    div
      &.datepicker-days
        display block
  &.months
    div
      &.datepicker-months
        display block
  &.years
    div
      &.datepicker-years
        display block
  table
    margin 0
    tr
      td
        &.day
          &:hover
            background #eeeeee
            cursor pointer
        &.today
          &:hover
            &:hover
              color #000
          &.active
            &:hover
              color #fff
        span
          display block
          width 23%
          height 54px
          line-height 54px
          float left
          margin 1%
          cursor pointer
          -webkit-border-radius 4px
          -moz-border-radius 4px
          border-radius 4px
          &:hover
            background #eeeeee
  th
    &.datepicker-switch
      width 145px
  .cw
    font-size 10px
    width 12px
    padding 0 2px 0 5px
    vertical-align middle
  thead
    tr
      &:first-child
        th
          &.cw
            cursor default
            background-color transparent

.datepicker-inline
  width 220px

.datepicker-dropdown
  top 0
  left 0
  &:before
    content ''
    display inline-block
    border-left 7px solid transparent
    border-right 7px solid transparent
    border-bottom 7px solid #ccc
    border-bottom-color rgba(0, 0, 0, 0.2)
    position absolute
    top -7px
    left 6px
  &:after
    content ''
    display inline-block
    border-left 6px solid transparent
    border-right 6px solid transparent
    border-bottom 6px solid #ffffff
    position absolute
    top -6px
    left 7px

.add-on i
  display block
  cursor pointer
  width 16px
  height 16px

.input-daterange
  input
    text-align center
    &:first-child
      -webkit-border-radius 3px 0 0 3px
      -moz-border-radius 3px 0 0 3px
      border-radius 3px 0 0 3px
    &:last-child
      -webkit-border-radius 0 3px 3px 0
      -moz-border-radius 0 3px 3px 0
      border-radius 0 3px 3px 0
  .add-on
    display inline-block
    width auto
    min-width 16px
    height 18px
    padding 4px 5px
    font-weight normal
    line-height 18px
    text-align center
    text-shadow 0 1px 0 #ffffff
    vertical-align middle
    background-color #eeeeee
    border 1px solid #ccc
    margin-left -5px
    margin-right -5px

.inform_block
    .editable-container.editable-inline
        display block
        .editable-input
            display block
