doctype html
html
      include ./includes/head.jade
  body
      #content
          div
              // Begin page content
              .content_main
                  .container.content-wrap
                    div
                        .error_wrapper
                            img(src='img/logo.svg').empty_logo
                            .error_bg
                            .error_container
                                .error_img
                                    img(src='img/error.svg')
                                h1.text-center
                                    Ой!
                                h3.text-center.caps
                                    Страница не найдена
                                p.text-center
                                    Скорее всего, это случилось по одной из следующих причин: страница переехала, страницы больше нет или вам просто нравится изучать 404 страницы
                                a(href='index.html').btn.btn-primary.text-center.caps Вернуться на главную

