doctype html
html
      include ./includes/head.jade
  body
      #content
          div
              include ./includes/modal.jade
              include ./includes/header.jade
              include ./includes/notification_panel.jade
                // Begin page content
              .content_main
                  .container.content-wrap
                    div
                        .sort_panel
                        ul.filters
                            li.menu_item.active
                                a.menu_link По дате
                            li.menu_item
                                a.menu_link По рейтингу
                            li.menu_item
                                a.menu_link По популярности
                            li.menu_line
                        .clearfix
                        #ip-container.ip-container
                            header.ip-header
                                .ip-loader
                                    svg.ip-inner(width='60px', height='60px', viewbox='0 0 80 80')
                                        path.ip-loader-circlebg(d='M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z')
                                        path#ip-loader-circle.ip-loader-circle(d='M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z')  
                            .author_page
                              .media.inline-block
                                  .media-left.media-top
                                    a(href='#')
                                      img(src='img/small_avatar.png')
                                  .media-body
                                    h4.media-heading.name АРТЕМ АБЗАНОВ
                               .user_info.inline-block
                               .col-xs-4
                                    i.fa.fa-file-image-o 
                                    span.inline.green 12
                                .col-xs-4
                                    i.icon.chapter_iconschat
                                    span.inline.blue 178
                                .col-xs-4
                                    i.fa.fa-heart
                                    span.inline.red 309
                                .clearfix
                            .row.ip-main#work_container
                                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                                    .work
                                        .full_info
                                            .author
                                                .media
                                                  .media-left.media-top
                                                    a(href='#')
                                                      img(src='img/small_avatar.png')
                                                  .media-body
                                                    h4.media-heading.name АРТЕМ АБЗАНОВ
                                                    span.date 24 МАЯ В 23:15
                                                    .rating
                                                    input.rating-tooltip-manual(type='hidden', disabled='disabled', value='3.5', data-filled='fa fa-star fa-3x', data-empty='fa fa-star-o fa-3x', data-fractions='2')
                                            hr        
                                            a(href="work.html").description
                                                p Всем привет. Самоучка, в вебе плотно 
                                                  сижу около пол года.

                                                  Задача от заказчика: сделать интернет 
                                                  магазин, в соотвествие с бренд буком
                                                  заказчика в желто-синех тонах.

                                                  Прошу помочь, не могу понять, как...

                                        img(src='img/work1.png')
                                        .short_info
                                                a.inline-block.v-middle.info_block.views
                                                    i.icon.chapter_iconsview 
                                                    span 342

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.likes
                                                    button.icobutton.icobutton--heart
                                                      i.fa.fa-heart
                                                      span.icobutton__text.icobutton__text--side 142

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.comments
                                                    i.icon.chapter_iconschat
                                                    span 903

                                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                                    .work
                                        .full_info
                                            .author
                                                .media
                                                  .media-left.media-top
                                                    a(href='#')
                                                      img(src='img/avatar.png')
                                                  .media-body
                                                    h4.media-heading.name АЛЕКСЕЙ ШУТОВ
                                                    span.date 24 МАЯ В 23:15
                                                    .rating
                                                    input.rating-tooltip-manual(type='hidden', disabled='disabled', value='3.5', data-filled='fa fa-star fa-3x', data-empty='fa fa-star-o fa-3x', data-fractions='2')
                                            hr        
                                            a(href="#").description
                                                p Всем привет. Самоучка, в вебе плотно 
                                                  сижу около пол года.

                                                  Задача от заказчика: сделать интернет 
                                                  магазин, в соотвествие с бренд буком
                                                  заказчика в желто-синех тонах.

                                                  Прошу помочь, не могу понять, как...
                                        img(src='img/work2.png')
                                        .short_info
                                                a.inline-block.v-middle.info_block.views
                                                    i.icon.chapter_iconsview 
                                                    span 342

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.likes.liked
                                                    button.icobutton.icobutton--heart
                                                      i.fa.fa-heart
                                                      span.icobutton__text.icobutton__text--side 105

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.comments.commented
                                                    i.icon.chapter_iconschat
                                                    span 903
                                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                                    .work
                                        .full_info
                                            .author
                                                .media
                                                  .media-left.media-top
                                                    a(href='#')
                                                      img(src='img/small_avatar.png')
                                                  .media-body
                                                    h4.media-heading.name АРТЕМ АБЗАНОВ
                                                    span.date 24 МАЯ В 23:15
                                                    .rating
                                                    input.rating-tooltip-manual(type='hidden', disabled='disabled', value='3.5', data-filled='fa fa-star fa-3x', data-empty='fa fa-star-o fa-3x', data-fractions='2')
                                            hr        
                                            a(href="#").description
                                                p Всем привет. Самоучка, в вебе плотно 
                                                  сижу около пол года.

                                                  Задача от заказчика: сделать интернет 
                                                  магазин, в соотвествие с бренд буком
                                                  заказчика в желто-синех тонах.

                                                  Прошу помочь, не могу понять, как...
                                        img(src='img/work3.png')
                                        .short_info
                                                a.inline-block.v-middle.info_block.views
                                                    i.icon.chapter_iconsview 
                                                    span 342

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.likes
                                                    button.icobutton.icobutton--heart
                                                      i.fa.fa-heart
                                                      span.icobutton__text.icobutton__text--side 112

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.comments
                                                    i.icon.chapter_iconschat
                                                    span 903
                                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                                    .work
                                        .full_info
                                            .author
                                                .media
                                                  .media-left.media-top
                                                    a(href='#')
                                                      img(src='img/small_avatar.png')
                                                  .media-body
                                                    h4.media-heading.name АРТЕМ АБЗАНОВ
                                                    span.date 24 МАЯ В 23:15
                                                    .rating
                                                    input.rating-tooltip-manual(type='hidden', disabled='disabled', value='3.5', data-filled='fa fa-star fa-3x', data-empty='fa fa-star-o fa-3x', data-fractions='2')
                                            hr        
                                            a(href="#").description
                                                p Всем привет. Самоучка, в вебе плотно 
                                                  сижу около пол года.

                                                  Задача от заказчика: сделать интернет 
                                                  магазин, в соотвествие с бренд буком
                                                  заказчика в желто-синех тонах.

                                                  Прошу помочь, не могу понять, как...
                                        img(src='img/work4.png')
                                        .short_info
                                                a.inline-block.v-middle.info_block.views
                                                    i.icon.chapter_iconsview 
                                                    span 342

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.likes.liked
                                                    button.icobutton.icobutton--heart
                                                      i.fa.fa-heart
                                                      span.icobutton__text.icobutton__text--side 87

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.comments
                                                    i.icon.chapter_iconschat
                                                    span 903
                                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                                    .work
                                        .full_info
                                            .author
                                                .media
                                                  .media-left.media-top
                                                    a(href='#')
                                                      img(src='img/small_avatar.png')
                                                  .media-body
                                                    h4.media-heading.name АРТЕМ АБЗАНОВ
                                                    span.date 24 МАЯ В 23:15
                                                    .rating
                                                    input.rating-tooltip-manual(type='hidden', disabled='disabled', value='3.5', data-filled='fa fa-star fa-3x', data-empty='fa fa-star-o fa-3x', data-fractions='2')
                                            hr        
                                            a(href="#").description
                                                p Всем привет. Самоучка, в вебе плотно 
                                                  сижу около пол года.

                                                  Задача от заказчика: сделать интернет 
                                                  магазин, в соотвествие с бренд буком
                                                  заказчика в желто-синех тонах.

                                                  Прошу помочь, не могу понять, как...
                                        img(src='img/work5.png')
                                        .short_info
                                                a.inline-block.v-middle.info_block.views
                                                    i.icon.chapter_iconsview 
                                                    span 342

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.likes
                                                    button.icobutton.icobutton--heart
                                                      i.fa.fa-heart
                                                      span.icobutton__text.icobutton__text--side 310

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.comments
                                                    i.icon.chapter_iconschat
                                                    span 903
                                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                                    .work
                                        .full_info
                                            .author
                                                .media
                                                  .media-left.media-top
                                                    a(href='#')
                                                      img(src='img/small_avatar.png')
                                                  .media-body
                                                    h4.media-heading.name АРТЕМ АБЗАНОВ
                                                    span.date 24 МАЯ В 23:15
                                                    .rating
                                                    input.rating-tooltip-manual(type='hidden', disabled='disabled', value='3.5', data-filled='fa fa-star fa-3x', data-empty='fa fa-star-o fa-3x', data-fractions='2')
                                            hr        
                                            a(href="#").description
                                                p Всем привет. Самоучка, в вебе плотно 
                                                  сижу около пол года.

                                                  Задача от заказчика: сделать интернет 
                                                  магазин, в соотвествие с бренд буком
                                                  заказчика в желто-синех тонах.

                                                  Прошу помочь, не могу понять, как...
                                        img(src='img/work6.png')
                                        .short_info
                                                a.inline-block.v-middle.info_block.views
                                                    i.icon.chapter_iconsview 
                                                    span 342

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.likes
                                                    button.icobutton.icobutton--heart
                                                      i.fa.fa-heart
                                                      span.icobutton__text.icobutton__text--side 241

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.comments.commented
                                                    i.icon.chapter_iconschat
                                                    span 903
                                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                                    .work
                                        .full_info
                                            .author
                                                .media
                                                  .media-left.media-top
                                                    a(href='#')
                                                      img(src='img/small_avatar.png')
                                                  .media-body
                                                    h4.media-heading.name АРТЕМ АБЗАНОВ
                                                    span.date 24 МАЯ В 23:15
                                                    .rating
                                                    input.rating-tooltip-manual(type='hidden', disabled='disabled', value='3.5', data-filled='fa fa-star fa-3x', data-empty='fa fa-star-o fa-3x', data-fractions='2')
                                            hr        
                                            a(href="#").description
                                                p Всем привет. Самоучка, в вебе плотно 
                                                  сижу около пол года.

                                                  Задача от заказчика: сделать интернет 
                                                  магазин, в соотвествие с бренд буком
                                                  заказчика в желто-синех тонах.

                                                  Прошу помочь, не могу понять, как...
                                        img(src='img/work7.png')
                                        .short_info
                                                a.inline-block.v-middle.info_block.views
                                                    i.icon.chapter_iconsview 
                                                    span 342

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.likes
                                                    button.icobutton.icobutton--heart
                                                      i.fa.fa-heart
                                                      span.icobutton__text.icobutton__text--side 112

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.comments
                                                    i.icon.chapter_iconschat
                                                    span 903
                                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                                    .work
                                        .full_info
                                            .author
                                                .media
                                                  .media-left.media-top
                                                    a(href='#')
                                                      img(src='img/small_avatar.png')
                                                  .media-body
                                                    h4.media-heading.name АРТЕМ АБЗАНОВ
                                                    span.date 24 МАЯ В 23:15
                                                    .rating
                                                    input.rating-tooltip-manual(type='hidden', disabled='disabled', value='3.5', data-filled='fa fa-star fa-3x', data-empty='fa fa-star-o fa-3x', data-fractions='2')
                                            hr        
                                            a(href="#").description
                                                p Всем привет. Самоучка, в вебе плотно 
                                                  сижу около пол года.

                                                  Задача от заказчика: сделать интернет 
                                                  магазин, в соотвествие с бренд буком
                                                  заказчика в желто-синех тонах.

                                                  Прошу помочь, не могу понять, как...
                                        img(src='img/work8.png')
                                        .short_info
                                                a.inline-block.v-middle.info_block.views
                                                    i.icon.chapter_iconsview 
                                                    span 342

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.likes
                                                    button.icobutton.icobutton--heart
                                                      i.fa.fa-heart
                                                      span.icobutton__text.icobutton__text--side 95

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.comments
                                                    i.icon.chapter_iconschat
                                                    span 903
                                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                                    .work
                                        .full_info
                                            .author
                                                .media
                                                  .media-left.media-top
                                                    a(href='#')
                                                      img(src='img/small_avatar.png')
                                                  .media-body
                                                    h4.media-heading.name АРТЕМ АБЗАНОВ
                                                    span.date 24 МАЯ В 23:15
                                                    .rating
                                                    input.rating-tooltip-manual(type='hidden', disabled='disabled', value='3.5', data-filled='fa fa-star fa-3x', data-empty='fa fa-star-o fa-3x', data-fractions='2')
                                            hr        
                                            a(href="#").description
                                                p Всем привет. Самоучка, в вебе плотно 
                                                  сижу около пол года.

                                                  Задача от заказчика: сделать интернет 
                                                  магазин, в соотвествие с бренд буком
                                                  заказчика в желто-синех тонах.

                                                  Прошу помочь, не могу понять, как...
                                        img(src='img/work9.png')
                                        .short_info
                                                a.inline-block.v-middle.info_block.views
                                                    i.icon.chapter_iconsview 
                                                    span 342

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.likes.liked
                                                    button.icobutton.icobutton--heart
                                                      i.fa.fa-heart
                                                      span.icobutton__text.icobutton__text--side 122

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.comments
                                                    i.icon.chapter_iconschat
                                                    span 903
                                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                                    .work
                                        .full_info
                                            .author
                                                .media
                                                  .media-left.media-top
                                                    a(href='#')
                                                      img(src='img/small_avatar.png')
                                                  .media-body
                                                    h4.media-heading.name АРТЕМ АБЗАНОВ
                                                    span.date 24 МАЯ В 23:15
                                                    .rating
                                                    input.rating-tooltip-manual(type='hidden', disabled='disabled', value='3.5', data-filled='fa fa-star fa-3x', data-empty='fa fa-star-o fa-3x', data-fractions='2')
                                            hr        
                                            a(href="#").description
                                                p Всем привет. Самоучка, в вебе плотно 
                                                  сижу около пол года.

                                                  Задача от заказчика: сделать интернет 
                                                  магазин, в соотвествие с бренд буком
                                                  заказчика в желто-синех тонах.

                                                  Прошу помочь, не могу понять, как...
                                        img(src='img/work10.png')
                                        .short_info
                                                a.inline-block.v-middle.info_block.views
                                                    i.icon.chapter_iconsview 
                                                    span 342

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.likes
                                                    button.icobutton.icobutton--heart
                                                      i.fa.fa-heart
                                                      span.icobutton__text.icobutton__text--side 205

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.comments.commented
                                                    i.icon.chapter_iconschat
                                                    span 903
                                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                                    .work
                                        .full_info
                                            .author
                                                .media
                                                  .media-left.media-top
                                                    a(href='#')
                                                      img(src='img/small_avatar.png')
                                                  .media-body
                                                    h4.media-heading.name АРТЕМ АБЗАНОВ
                                                    span.date 24 МАЯ В 23:15
                                                    .rating
                                                    input.rating-tooltip-manual(type='hidden', disabled='disabled', value='3.5', data-filled='fa fa-star fa-3x', data-empty='fa fa-star-o fa-3x', data-fractions='2')
                                            hr        
                                            a(href="#").description
                                                p Всем привет. Самоучка, в вебе плотно 
                                                  сижу около пол года.

                                                  Задача от заказчика: сделать интернет 
                                                  магазин, в соотвествие с бренд буком
                                                  заказчика в желто-синех тонах.

                                                  Прошу помочь, не могу понять, как...
                                        img(src='img/work11.png')
                                        .short_info
                                                a.inline-block.v-middle.info_block.views
                                                    i.icon.chapter_iconsview 
                                                    span 342

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.likes
                                                    button.icobutton.icobutton--heart
                                                      i.fa.fa-heart
                                                      span.icobutton__text.icobutton__text--side 93

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.comments
                                                    i.icon.chapter_iconschat
                                                    span 903
                                .col-lg-3.col-md-3.col-sm-6.col-xs-12
                                    .work
                                        .full_info
                                            .author
                                                .media
                                                  .media-left.media-top
                                                    a(href='#')
                                                      img(src='img/small_avatar.png')
                                                  .media-body
                                                    h4.media-heading.name АРТЕМ АБЗАНОВ
                                                    span.date 24 МАЯ В 23:15
                                                    .rating
                                                    input.rating-tooltip-manual(type='hidden', disabled='disabled', value='3.5', data-filled='fa fa-star fa-3x', data-empty='fa fa-star-o fa-3x', data-fractions='2')
                                            hr        
                                            a(href="#").description
                                                p Всем привет. Самоучка, в вебе плотно 
                                                  сижу около пол года.

                                                  Задача от заказчика: сделать интернет 
                                                  магазин, в соотвествие с бренд буком
                                                  заказчика в желто-синех тонах.

                                                  Прошу помочь, не могу понять, как...
                                        img(src='img/work12.png')
                                        .short_info
                                                a.inline-block.v-middle.info_block.views
                                                    i.icon.chapter_iconsview 
                                                    span 342

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.likes.liked
                                                    button.icobutton.icobutton--heart
                                                      i.fa.fa-heart
                                                      span.icobutton__text.icobutton__text--side 78

                                                .inline-block.v-middle.separator

                                                a.inline-block.v-middle.info_block.comments.commented
                                                    i.icon.chapter_iconschat
                                                    span 903
                                .clearfix
                                a#next(href="mobile2.json") | next page

              include ./includes/footer.jade


