doctype html
html
      include ./includes/head.jade
  body
      include ./includes/modal.jade
      include ./includes/header.jade
      include ./includes/notification_panel.jade
      
        // Begin page content
      .container
        .row
            .critics
                .critic_item
                    .col-md-12
                        .media
                            .media-left.media-top
                                a(href='#')
                                  img(src='img/small_avatar.png')
                            .media-body
                                .critic_wrapper
                                    h4.media-heading.name Артем Абзанов
                                    .rating
                                        input.rating-tooltip-manual(type='hidden', disabled='disabled', value='4.5', data-filled='fa fa-star fa-4x', data-empty='fa fa-star-o fa-4x', data-fractions='2')
                                .stats.pull-right
                                    .answers
                                        Всего ответов: 
                                        span.value 34
                                    .thanks
                                        Всего поблагодарили: 
                                        span.value 564
                .dots
                .critic_item
                        .col-md-12
                            .media
                                .media-left.media-top
                                    a(href='#')
                                      img(src='img/small_avatar2.png')
                                .media-body
                                    .critic_wrapper
                                        h4.media-heading.name Кристина Юдина
                                        .rating
                                            input.rating-tooltip-manual(type='hidden', disabled='disabled', value='4', data-filled='fa fa-star fa-4x', data-empty='fa fa-star-o fa-4x', data-fractions='2')
                                    .stats.pull-right
                                        .answers
                                            Всего ответов: 
                                            span.value 27
                                        .thanks
                                            Всего поблагодарили: 
                                            span.value 481
                .dots
                .critic_item
                        .col-md-12
                            .media
                                .media-left.media-top
                                    a(href='#')
                                      img(src='img/avatar.png')
                                .media-body
                                    .critic_wrapper
                                        h4.media-heading.name Алексей Шутов
                                        .rating
                                            input.rating-tooltip-manual(type='hidden', disabled='disabled', value='3.5', data-filled='fa fa-star fa-4x', data-empty='fa fa-star-o fa-4x', data-fractions='2')
                                    .stats.pull-right
                                        .answers
                                            Всего ответов: 
                                            span.value 23
                                        .thanks
                                            Всего поблагодарили: 
                                            span.value 429
                .dots
                .critic_item
                    .col-md-12
                        .media
                            .media-left.media-top
                                a(href='#')
                                  img(src='img/small_avatar.png')
                            .media-body
                                .critic_wrapper
                                    h4.media-heading.name Артем Абзанов
                                    .rating
                                        input.rating-tooltip-manual(type='hidden', disabled='disabled', value='3', data-filled='fa fa-star fa-4x', data-empty='fa fa-star-o fa-4x', data-fractions='2')
                                .stats.pull-right
                                    .answers
                                        Всего ответов: 
                                        span.value 25
                                    .thanks
                                        Всего поблагодарили: 
                                        span.value 327
                .dots
                .critic_item
                        .col-md-12
                            .media
                                .media-left.media-top
                                    a(href='#')
                                      img(src='img/small_avatar2.png')
                                .media-body
                                    .critic_wrapper
                                        h4.media-heading.name Кристина Юдина
                                        .rating
                                            input.rating-tooltip-manual(type='hidden', disabled='disabled', value='3', data-filled='fa fa-star fa-4x', data-empty='fa fa-star-o fa-4x', data-fractions='2')
                                    .stats.pull-right
                                        .answers
                                            Всего ответов: 
                                            span.value 14
                                        .thanks
                                            Всего поблагодарили: 
                                            span.value 200
                .dots
                .critic_item
                        .col-md-12
                            .media
                                .media-left.media-top
                                    a(href='#')
                                      img(src='img/avatar.png')
                                .media-body
                                    .critic_wrapper
                                        h4.media-heading.name Кристина Юдина
                                        .rating
                                            input.rating-tooltip-manual(type='hidden', disabled='disabled', value='2.5', data-filled='fa fa-star fa-4x', data-empty='fa fa-star-o fa-4x', data-fractions='2')
                                    .stats.pull-right
                                        .answers
                                            Всего ответов: 
                                            span.value 7
                                        .thanks
                                            Всего поблагодарили: 
                                            span.value 102

      include ./includes/footer.jade


