doctype html
html
      include ./includes/head.jade
  body
    #content
          include ./includes/modal.jade
          include ./includes/comment_modal.jade
          include ./includes/confirm_modal.jade
          include ./includes/header.jade
          include ./includes/photoswipe.jade
          .content_main
            .container.content-wrap
              .loader
              #work_itself
                .row
                    .col-lg-4.col-lg-push-8.col-md-4.col-md-push-8.col-xs-12
                        .work_info
                            .border
                            .media
                              .media-left.media-top
                                a(href='#')
                                  img(src='img/avatar.png')
                              .media-body
                                h4.media-heading.name Алексей Шутов
                                span.date 24 МАЯ В 23:15
                            .dots
                            a.btn.btn-success.text-center.caps.full-block.visible-xs-block Показать описание
                            .inform_block
                                .task_text
                                    Задача: разработка логотипа для компании, которая занимается проектировкой и постройкой грузовиков и автомобилей класса offroad. На фото - их проекты, которые были выпущены в свет в 2016 году. Также парни занимаются доработкой, дооснащением на основе готовых решений, разборкой и продажами запчастей для внедорожников, привозом разного тюнинга с Америки, Европы и Японии, в общем всем, что связано с внедорожниками соревновательного и гражданского уровня.
                                .dots
                                .actions
                                    a(href='#').edit.btn.btn-primary.text-center.caps 
                                        i.icon.chapter_iconspencil 
                                    a(href="#", data-toggle='modal', data-target='#confirm').delete.btn.btn-danger.text-center.caps 
                                        i.icon.chapter_iconsdelete
                    .col-lg-8.col-lg-pull-4.col-md-8.col-md-pull-4.col-xs-12
                        .work_desk
                            .h_work
                                img(src='img/work.jpg').work_image.hidden-xs
                                img(src='img/work.jpg').work_image.visible-xs-block#work_pic
                                .work_head
                                    .short_info
                                        a.inline-block.v-middle.info_block.views
                                            i.icon.chapter_iconsview 
                                            span 342

                                        .inline-block.v-middle.separator

                                        a.inline-block.v-middle.info_block.likes
                                            button.icobutton.icobutton--heart
                                              i.fa.fa-heart
                                              span.icobutton__text.icobutton__text--side 105

                                        .inline-block.v-middle.separator

                                        a.inline-block.v-middle.info_block.comments
                                            i.icon.chapter_iconschat
                                            span 903
                            .add_mark
                                a(data-toggle='collapse' href='#comment_form' aria-expanded='false' aria-controls='comment_form')#open_form.add_m.btn.btn-primary.text-center.caps Оставить комментарий
                                a(data-toggle='modal' data-target='#edit_work').add_m.btn.btn-success.text-center.caps Указать на работе
                                
                                .collapse#comment_form 
                                    form
                                      .form-group
                                        textarea.form-control(placeholder='Введите текст комментария')
                                      button.btn.ghost_button.caps.pull-right(type='reset') Отмена
                                      button#leave_comment.btn.btn-primary.text-center.caps.pull-right(type='submit') Отправить
                                      .clearfix
                            .comments.pad
                                //p.text-center.center-block.mute Пока нет комментариев к данной работе. Станьте первым!//
                                .media
                                  .media-left.media-top
                                    a(href='#')
                                      img(src='img/small_avatar.png')
                                  .media-body
                                    h4.media-heading.name Артём Абзанов
                                        span.comment_date 2 ЧАСА НАЗАД
                                    span.comment
                                        Нужно полностью поменять все шрифты. Один шрифт на весь лендинг это очень плохо. Выбранный шрифт с натяжкой подойдет только для заголовков. Основной текст слишком крупный. Плюс постоянные картинки на фонах тоже все очень ухудшают. И обязательно узнай что такое bootstrap-сетка.
                                    .com_likes
                                        button.icobutton.icobutton--heart.inline-block
                                              i.fa.fa-heart
                                              span.icobutton__text.icobutton__text--side 6
                                        a(data-toggle='modal' data-target='#commented_people').show_all 
                                            ПОСМОТРЕТЬ ВСЕХ
                                .media
                                  .media-left.media-top
                                    a(href='#')
                                      img(src='img/small_avatar2.png')
                                  .media-body
                                    h4.media-heading.name Алина Федосеенко
                                        span.comment_date 3 ЧАСА НАЗАД
                                    span.comment
                                        Олег, ты задаешь весьма глупый вопрос. Но я объясню. Недопустимо делать макет страницы без сетки. Ведь существует масштаирование и нужно продумать как будет перестраиваться контент на странице. Бутстрап сетка самая распространенная и простая в использовании. Поэтому именно с нее и нужно начинать всю работу над веб-страницей. Разумеется можно создавать и свою собственную сетку, но только если ты и верстальщик достаточно профессиональны в своем деле.
                                    .com_likes
                                        button.icobutton.icobutton--heart.yours.inline-block
                                              i.fa.fa-heart
                                              span.icobutton__text.icobutton__text--side 6
                                        a(data-toggle='modal' data-target='#commented_people').show_all 
                                            ПОСМОТРЕТЬ ВСЕХ
                                 .media.sys
                                  .media-left.media-top
                                    a(href='#')
                                      img(src='img/avatar.png')
                                  .media-body
                                    h4.media-heading.name Алексей Шутов
                                        span.comment_date ВЧЕРА В 15:32
                                    .point_comments.pull-right 
                                        a(href='#')
                                            span 4
                                            img(src='img/comments_i.svg')
                                    .system_info
                                        i Порекомендовал изменения на работе…    
                                        a(data-toggle='modal' data-target='#edit_work') Посмотреть 
                                        
            include ./includes/edit_work.jade
          include ./includes/footer.jade


