@keyframes blink {
  0% {
    border-color: #261f3d
  }
  50% {
    border-color: #D8536F
  }
  100% {
    border-color: #261f3d  
  }
}

.blink
  -webkit-animation blink 1.2s linear infinite
  -moz-animation blink 1.2s linear infinite
  animation blink 1.2s linear infinite
  animation-delay -0.3s

@keyframes blink_slow {
  0% {
    border-color: #261f3d
  }
  50% {
    border-color: #D8536F
  }
  100% {
    border-color: #261f3d  
  }
}

.blink_slow
  -webkit-animation blink_slow 1.2s linear infinite
  -moz-animation blink_slow 1.2s linear infinite
  animation blink_slow 1.2s linear infinite
  
  
.full_info
    -moz-transition all 0.2s ease-out
    -o-transition all 0.2s ease-out
    -webkit-transition all 0.2s ease-out
    -ms-transition all 0.2s ease-out
    transition all 0.2s ease-out
    
.add_work
    opacity 1
    transition: opacity 0.2s ease-in-out;
    &:hover
        opacity 0.8
    

.likers 
    opacity 0
    transition opacity 0.3s ease-in-out
    &.show_it
        opacity 1
        
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid #ddd;
  border-right: 5px solid #ddd;
  border-bottom: 5px solid #ddd;
  border-left: 5px solid #139edc;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}