@font-face
  font-family 'AvenirNextDemi'
  src url('../fonts/avenir_next/hinted-subset-AvenirNextCyr-Demi.eot')
  src url('../fonts/avenir_next/hinted-subset-AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
 url('../fonts/avenir_next/hinted-subset-AvenirNextCyr-Demi.woff') format('woff'),
		url('../fonts/avenir_next/hinted-subset-AvenirNextCyr-Demi.ttf') format('truetype')
  font-weight bold
  font-style normal

@font-face
  font-family 'AvenirNextBold'
  src url('../fonts/avenir_next/hinted-subset-AvenirNextCyr-Bold.eot')
  src url('../fonts/avenir_next/hinted-subset-AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
 url('../fonts/avenir_next/hinted-subset-AvenirNextCyr-Bold.woff') format('woff'),
		url('../fonts/avenir_next/hinted-subset-AvenirNextCyr-Bold.ttf') format('truetype')
  font-weight bold
  font-style normal

@font-face
  font-family 'AvenirNextMedium'
  src url('../fonts/avenir_next/hinted-subset-AvenirNextCyr-Medium.eot')
  src url('../fonts/avenir_next/hinted-subset-AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
 url('../fonts/avenir_next/hinted-subset-AvenirNextCyr-Medium.woff') format('woff'),
		url('../fonts/avenir_next/hinted-subset-AvenirNextCyr-Medium.ttf') format('truetype')
  font-weight 500
  font-style normal

@font-face
  font-family 'AvenirNextRegular'
  src url('../fonts/avenir_next/hinted-subset-AvenirNextCyr-Regular.eot')
  src url('../fonts/avenir_next/hinted-subset-AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
 url('../fonts/avenir_next/hinted-subset-AvenirNextCyr-Regular.woff') format('woff'),
		url('../fonts/avenir_next/hinted-subset-AvenirNextCyr-Regular.ttf') format('truetype')
  font-weight normal
  font-style normal
  
@font-face
    font-family 'main_icons'
    src url('../fonts/main/main_icons.ttf?yhid4p') format('truetype'), url('../fonts/main/main_icons.woff?yhid4p') format('woff'), url('../fonts/main/main_icons.svg?yhid4p#main_icons') format('svg')
    font-weight normal
    font-style normal
    
@font-face
  font-family 'linecons'
  src url('../fonts/notification/linecons.eot?-kux0c3')
  src url('../fonts/notification/linecons.eot?#iefix-kux0c3') format('embedded-opentype'),
 url('../fonts/notification/linecons.woff?-kux0c3') format('woff'),
		url('../fonts/notification/linecons.ttf?-kux0c3') format('truetype'),
		url('../fonts/notification/linecons.svg?-kux0c3#linecons') format('svg')
  font-weight normal
  font-style normal
