chapter_iconsalarm = "\e900"
chapter_iconschat = "\e901"
chapter_iconsdelete = "\e902"
chapter_iconsforbidden = "\e904"
chapter_iconsking = "\e905"
chapter_iconsloading = "\e906"
chapter_iconspaper = "\e907"
chapter_iconspencil = "\e908"
chapter_iconsspeech = "\e909"
chapter_iconsturn-off = "\e90a"
chapter_iconsupload = "\e90b"
chapter_iconsview = "\e90c"

notify_notifysearch = "\e600"
notify_notifysettings = "\e601"
notify_notifybulb = "\e602"
notify_notifymail = "\e603"
notify_notifypaperplane = "\e604"
notify_notifymegaphone = "\e605"
notify_notifycalendar = "\e606"
    


i.notify
  &:before
    font-family 'linecons'
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1
    font-size 2em
    display inline-block
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

.notify-search
  &:before
    content notify_notifysearch

.notify-settings
  &:before
    content notify_notifysettings

.notify-bulb
  &:before
    content notify_notifybulb

.notify-mail
  &:before
    content notify_notifymail

.notify-paperplane
  &:before
    content notify_notifypaperplane

.notify-megaphone
  &:before
    content notify_notifymegaphone

.notify-calendar
  &:before
    content notify_notifycalendar


.icon
    font-family 'main_icons' !important
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1

    /* Better Font Rendering =========== */
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

.chapter_iconsalarm
    &:before
        content chapter_iconsalarm
.chapter_iconschat
    &:before
        content chapter_iconschat
.chapter_iconsdelete
    &:before
        content chapter_iconsdelete
.chapter_iconsforbidden
    &:before
        content chapter_iconsforbidden
.chapter_iconsking
    &:before
        content chapter_iconsking
.chapter_iconsloading
    &:before
        content chapter_iconsloading
.chapter_iconspaper
    &:before
        content chapter_iconspaper
.chapter_iconspencil
    &:before
        content chapter_iconspencil
.chapter_iconsspeech
    &:before
        content chapter_iconsspeech
.chapter_iconsturn-off
    &:before
        content chapter_iconsturn-off
.chapter_iconsupload
    &:before
        content chapter_iconsupload
.chapter_iconsview
    &:before
        content chapter_iconsview
  
        
.icobutton
  position relative
  color #AEBECA
  border 0
  background none
  overflow visible
  -webkit-tap-highlight-color rgba(0,0,0,0)
  width 36px
  display block
  text-align left
  .fa
    display block
    padding 0 0.1em
  svg
    left 0

.icobutton__text
  font-size 1em
  position absolute
  top 100%
  left -50%
  width 200%
  text-align center
  line-height 1.5
  color #a6a6a6

.icobutton__text--side
  top 1px
  left 23px
  width 100%
  width auto
  padding 0 0 0 0.25em

.icobutton:hover,
.icobutton:focus
  outline none

.icobutton--unicorn
  svg
    fill #c0c1c3

