/* Large desktops and laptops */
@media (min-width: 1200px) {
    
}


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .short_info i.icon.chapter_iconsview,
  .short_info span {
      font-size: 12px;
  }
  .short_info i.fa,
  .short_info i.icon.chapter_iconschat {
      font-size: 15px;
  }
  .short_info .separator {
      margin: 0 5px;
  }
  .short_info a {
      width: 55px;
  }
  .short_info .icobutton__text--side {
    left: 20px;  
  }
}
    


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .error_wrapper img.empty_logo {
        position: relative;
        z-index: 1;
        top: -65px;
        display: block;
        margin: 0 auto;
        left: 0;
    }
    
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        width: 94px;
        overflow: hidden;
        margin-right: 15px;
    }
    .sort_panel {
        height: 50px;
        margin-bottom: -80px;
    }
    body > #content ul.filters {
        margin-bottom: 20px;
    }
    body > #content ul.filters > li > a {
        padding: 14px 35px;
        height: 50px;
    }
    .short_info a {
        width: 92px;
    }
    .short_info a .icobutton {
        display: inherit;
        margin-left: -25px;
    }
    .container .work .full_info {
        height: 296px;
    }
    .container .work .full_info .description p {
        -webkit-line-clamp: 15;
    }
    
    ul.filters .menu_line {
        margin-top: -14px;
    }
}



/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .btn.btn-primary.center-block.text-center.caps.switcher {
        text-transform: uppercase;
        height: 37px;
    }
    
    .alarm.blink_slow {
        float: right;
        margin-top: -36px;
        color: white;
        width: 32px;
        height: 32px;
        border: 1px solid #d8536f;
        border-radius: 50%;
        display: block;
        padding: 2px;
    }
    
    .alarm .alarm_wrapper {
        display: block;
        width: 24px;
        height: 24px;
        border: 2px solid #d8536f;
        border-radius: 50%;
        margin: 1px 1px 2px 1px;
        padding: 1px 1px 1px 3px;
    }
    
    
    .menu-wrap {
        width: 100%;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        overflow: auto;
    }
    
    .modal-open .modal-dialog {
        width: 405px;
        margin: 10px auto;
    }
    
    button#notification-trigger {
        margin-top: -20px;
    }
    
    .modal-open .modal-dialog .modal-header .close {
        margin-right: 0px;
        margin-top: -7px;
    }
    
    .modal-open .modal-dialog .modal-content {
        padding: 0px 10px;
    }
    
    a.btn.btn-success.text-center.caps.full-block {
        background: #9cc315;
        border-color: #9cc315;
        width: 100%;
        margin-top: 20px;
    }
    
    .author_page .user_info {
        float:none;
    }
    
    .error_wrapper img.empty_logo {
        position: relative;
        z-index: 1;
        top: -60px;
        display: block;
        margin: 0 auto;
        left: 0;
    }
    
    #work_itself .work_desk {
        margin-top: 30px;
    }
    
    .comments.pad .media.sys .system_info a {
        display:none;
    }
    
    #work_itself .work_desk .add_mark .btn.btn-success {
        display:none;
    }
    
    #commented_people .modal-dialog {
        width: auto;
    }
    
    #commented_people .row.people .commented_person {
        width: 85%;
        margin: 20px auto 5px auto;
    }
    
    .comments.pad .com_likes a.show_all {
        opacity: 1;
    }
    
    .comments.pad .com_likes .icobutton {
        margin-left: 0;
    }
    
    .comments.pad .comment_date {
        display: block;
        vertical-align: top;
        margin-top: 5px;
        margin-left: 0;
    }
    
    #work_itself .work_info {
        margin-top: 20px;
    }
    
    .navbar-default .navbar-toggle {
        border: 1px solid #fff;
        margin-top: 18px;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background: #fff;
    }

    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background: rgba(255,255,255,0.3);
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #1b162b;
        margin-top: 9px;
        background: #261f3d;
    }

    .navbar .navbar-nav {
        margin: 0;
    }

    .navbar .navbar-nav > li {
        margin: 0 -15px;
        padding: 5px 20px;
    }
    

    .navbar .navbar-nav > li > a {
        padding: 10px 0;
        height: 40px;
        color: #fff;
    }
    
    .navbar .navbar-nav > li.blue > a {
        color: #139edc;
    }

    .navbar .navbar-nav > li:active {
        background: #1b162b;
    }

    .navbar .navbar-nav.navbar-right .add_work {
        padding-top: 10px !important;
    }

    .navbar .navbar-nav.navbar-right .add_work,
    .navbar .navbar-nav.navbar-right .add_work span {
        display: none;
    }

    a#user_info {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    a#user_info img {
        margin-right: 10px;
    }
    
    .container .work .full_info {
        opacity: 1;
        height: 70px;
        border-bottom: 0;
    }
    
    .container .work .full_info .description,
    .container .work .full_info hr {
        display: none;
    }
    
    .container .work > img {
        margin-top: 70px;
        margin-bottom: 47px;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
    }
    
    body > #content ul.filters {
        width: 394px;
        height: 50px;
        margin: -28px auto 20px auto;
    }
    
    body > #content ul.filters > li > a {
        padding: 10px 20px;
        height: 50px;
        font-size: 11px;
    }
    
    .sort_panel {
        height: 50px;
        margin-bottom: -50px;
        margin-top: -2px;
    }
    
    ul.filters .menu_line {
        width: 80px;
    }
    
    ul.filters .menu_item:nth-child(1).active ~ .menu_line {
      -webkit-transform: translate3d(3%, 0, 0);
      transform: translate3d(3%, 0, 0);
    }
    ul.filters .menu_item:nth-child(2).active ~ .menu_line {
      -webkit-transform: translate3d(144%, 0, 0);
      transform: translate3d(144%, 0, 0);
    }
    ul.filters .menu_item:nth-child(3).active ~ .menu_line {
      -webkit-transform: translate3d(330%, 0, 0);
      transform: translate3d(330%, 0, 0);
    }
    
    .container .work .full_info .description {
        display: block;
        height: 83%;
        margin-top: 20px;
        font-size: 0;
    }
    
    .container .work .full_info hr {
        display: none;
    }
    
    .container .work .full_info {
        opacity: 1;
        height: 70px;
        border-bottom: 0;
        height: 91%;
        background: transparent;
    }
    
    .short_info a {
        width: 32.65%;
    }
    
    .icobutton {
        display: inline-block;
        margin-left: -22px;
    }
    
    .short_info .separator {
        display: none;
    }
    
    .modal-open .modal-dialog.modal-sm {
        width: auto;
    }
    
    .modal-open .modal-dialog.modal-sm .modal-content .btn-block.btn-social {
        width: 100%;
        margin: 10px 0;
        padding-right: 52px;
    }
    
    #work_itself .work_desk .add_mark {
        background: #f5f7f8;
        box-shadow: inset 0px 3px 8px 0px rgba(234,236,236,0.7);
        padding: 5px 10px 15px 10px;
    }
    
    #work_itself .work_desk .add_mark .add_m {
        height: 40px;
        margin: 10px 0px 0px 0px;
        display: block;
    }
    
    #comment_form {
        padding: 0;
        margin-top: 15px;
    }
    
    .footer p.text-muted strong {
        display: block;
    }
    
    .footer {
        height: 70px;
    }
    
    .footer p.text-muted {
        margin: 10px 0;
    }
    
    .sort_panel {
        display: none;
    }
    
    body > #content .container.content-wrap {
        padding-top: 15px;
    }
    
    .container .work {
        margin-bottom: 20px;
    }
    
    div#infscr-loading p.text-center {
        margin-bottom: 30px;
    }
    
}



/* Portrait phones and smaller */
@media (max-width: 480px) {
    #work_itself .work_info .inform_block {
        display: none;  
        margin-top: 15px;
    }
    
    .container .work .full_info .description{
        height: 78%;
    }
    
    .short_info a {
        width: 32.1%;
    }
    
    body > #content ul.filters {
        display: none;
    }
    
    .author_page .user_info .fa.fa-file-image-o,
    .author_page .user_info .icon.chapter_iconschat,
    .author_page .user_info .fa.fa-heart {
        font-size: 20px;
    }
    
    .author_page .user_info span.inline {
        font-size: 15px;
    }
    
    .author_page .user_info {
        min-width: 100%;
    }
    
    
}

@media (min-width: 320px) and (max-width: 479px) {
    .modal-open .modal-dialog {
        width: 95%;
    }
    
    .modal-open .modal-dialog .modal-content {
        padding: 0px;
    }
    
    #dropzone .dz-message span i {
        font-size: 35px;
    }
    
    .comments.pad .media.sys .system_info i {
        margin-left: 0;
        margin-top: 10px;
        display: block;
    }
    
    .comments.pad .media.sys .point_comments {
        margin-top: 20px;
    }
    
    .error_wrapper .error_container {
        width: 290px;
        height:420px;
    }
    
    .error_wrapper .error_container .error_img img {
        width: 70px;
    }
    
    .error_wrapper h1 {
        font-size: 26px;
    }
    
    .error_wrapper h3 {
        font-size: 18px;
    }
    
    .error_wrapper p {
        font-size: 13px;
    }
}

/*@media screen and (max-width:55em) {

	ul.filters .menu_item:nth-child(1).active ~ .menu_line {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	ul.filters .menu_item:nth-child(2).active ~ .menu_line {
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}

	ul.filters .menu_item:nth-child(3).active ~ .menu_line {
		-webkit-transform: translate3d(0, 6em, 0);
		transform: translate3d(0, 6em, 0);
	}

	ul.filters .menu_item:nth-child(4).active ~ .menu_line {
		-webkit-transform: translate3d(0, 9em, 0);
		transform: translate3d(0, 9em, 0);
	}

	ul.filters .menu_item:nth-child(5).active ~ .menu_line {
		-webkit-transform: translate3d(0, 12em, 0);
		transform: translate3d(0, 12em, 0);
	}
}*/

