html
  position relative
  min-height 100%

body
  margin-bottom 60px
  font-family 'AvenirNextMedium'
  letter-spacing 1px
  padding-top 70px
  & > #content
          .container.content-wrap
            padding-top: 30px;
            .light
                background #F8F8F8
                position absolute
                left 0
                right 0
                top 0
                bottom 0
          ul.filters
            width 510px
            margin -30px auto 30px auto
            display block
            list-style none
            padding 0
            position relative
            height 60px
            & > li
                float left
                & > a
                    text-transform uppercase
                    font-family 'AvenirNextDemi'
                    font-size 12px
                    padding 18px 35px
                    height 60px
                    display block
                    cursor pointer
                    line-height 21px
                    &:hover
                        text-decoration none
.footer
  position absolute
  bottom 0
  width 100%
  height 60px
  background-color #f5f5f5
  z-index 1030
  & > .container
    padding-right 15px
    padding-left 15px

.container
  .text-muted
    margin 20px 0
    
.sort_panel 
    height 60px
    border-bottom 1px solid #E5E5E5
    background #FAFAFA
    margin-bottom -60px
    margin-top 0px
    left 0
    right 0
    position absolute
    
    
code
  font-size 80%
  
.dots 
    background-image url(../img/dots.svg)
    background-repeat repeat-x
    height 2px
    width 100%
    background-position-x -5px
    margin 20px 0

.navbar-default,
.footer
  background-color #261F3D
  border none
  
.inline-block 
    display inline-block
    &.v-top
        vertical-align top
    &.v-middle
        vertical-align middle
  
.navbar
  height 70px
  .navbar-brand
    & > img 
        display block
        margin-top 7px
  .navbar-nav
      & > li
        & > a
          padding-top 24px
          padding-bottom 15px
          height 70px
          font-family 'AvenirNextDemi'
          text-transform uppercase
          font-size 12px
          letter-spacing 1px
          color rgba(255, 255, 255, 0.7)
          &.btn.btn_primary
            display inline-block
            font-size 12px
            height 40px
            padding 10px 20px
            vertical-align middle
            border-radius 4px
            background #139EDC
            line-height 20px
            margin-top 14px
            margin-left 40px
          & > img.avatar
            width 35px
            height 35px
            margin-top -7px
          & > span.add_but
            display inline-block
            width 24px
            height 24px
            background #139EDC
            border-radius 4px
            margin-right 10px
            font-size 18px
            color #fff
            text-align center
            vertical-align middle
            line-height 24px
            padding-left 1px
          &:hover,
          &:focus 
              color #fff
        &.active
            & > a,
            & > a:hover,
            & > a:focus
                    color #fff 
                    background transparent
      &.navbar-right
        & > li
            & > a 
                color #fff
                font-size 14px
                & > i.icon
                    margin-top 3px
                    display block
                & > .alarm
                    width 32px
                    height 32px
                    border 1px solid #D8536F
                    border-radius 50%
                    display block
                    padding 2px
                    margin-top -4px
                    .alarm_wrapper
                          display block
                          width 24px
                          height 24px
                          border 2px solid #D8536F
                          border-radius 50%
                          margin 1px 1px 2px 1px
                          padding 1px 1px 1px 3px
                &.add_work
                    font-size 12px
                    padding-top 22px
                    &:focus
                        outline none
.footer 
    p.text-muted
        color rgba(255, 255, 255, 0.7)
        font-size 12px
        strong
            color #fff
            font-weight 100
            font-family 'AvenirNextDemi'
            margin-right 10px

.container
    .work
      display block
      border 1px solid #E7E7E7
      box-shadow 0px 3px 8px 0px rgba(0,0,0,0.07)
      width 100%
      overflow hidden
      margin-bottom 30px
      position relative

      hr
        margin 13px -18px
      .full_info 
        opacity 0
        position absolute
        background #fff
        height 214px
        border-bottom 1px solid #E7E7E7
        z-index 3
        padding 15px
        right 0
        left 0
        .description
            color #5F5D63
            font-family 'AvenirNextMedium'
            font-size 14px
            line-height 17px
            letter-spacing 0.5px
            width 100%
            height 135px
            display block
            p
                display: block;
                display: -webkit-box;
                -webkit-line-clamp: 7;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            &:hover 
                text-decoration none    
        .author 
            img
                width 35px
            .name
                font-family 'AvenirNextDemi'
                text-transform uppercase
                font-size 12px
                color #13A0DF
                letter-spacing 0.6px
                margin-top 2px
            .date
                color #92A4B2
                font-size 11px
                font-family 'AvenirNextDemi'
                letter-spacing 0
                position absolute
                margin-top 2px
      img
        width 100%
      &:hover
        .full_info
            opacity 1
    
.recent_information 
    .popover
        width 224px
.popover
    opacity 1 !important
    background #261F3D
    .tooltip_text
        color #fff
        font-size 13px
        text-transform uppercase
        white-space nowrap
        letter-spacing 1.5px
        font-family 'AvenirNextDemi'
        display block
    .arrow,
    .arrow::after
        border-bottom-color #261F3D !important    
    .popover-content
        background #261F3D
        padding 20px
        text-align center
        .rating-symbol
            font-size 6px
.comments.pad
    padding 0 20px
    .comment_date
        font-family 'AvenirNextDemi'
        font-size 10px
        color #92A4B2
        line-height 14px
        margin-left 12px
        display inline-block
        vertical-align top
    .com_likes
        margin-left -4px
        .icobutton
            width auto
            margin-right 10px
        &:hover
            a.show_all
                opacity 1
        .icobutton__text--side
            top -1px
        a.show_all
            font-family 'AvenirNextDemi'
            font-size 10px
            color #92A4B2
            opacity 0
            margin-left 12px
            cursor pointer
            &:hover
                text-decoration none
    .media.sys 
        background rgba(241, 245, 248, 0.6)
        padding 20px
        margin 40px -20px !important
        .media-body
            width 100%
        .point_comments
            margin-top -10px
            a
                span
                    color #92A4B2
                    margin-right 4px
                &:hover
                    text-decoration none
        .system_info
            width 100%
            i
                color #92A4B2
                font-size 13px
                display inline
            a
                color #13A0DF
                font-size 13px
                text-decoration underline
                display inline
                margin-left 8px
                cursor pointer
                &:hover
                    text-decoration none
.short_info
      height 48px
      margin-top -47px
      width 100%
      position relative
      z-index 2
      background #fff
      padding 14px 5px
      a
          width 64px
          text-align center
          display inline-block
          cursor pointer
          &:hover
              text-decoration none
          &.likes.liked
            i,
            span
                color #d8536f
          &.comments.commented
              i,
              span
                color #139edc
          &.views,
          &.comments 
             cursor default
      .separator
          width 3px
          background-image url(../img/small_border.svg)
          height 16px
          background-repeat no-repeat
          margin 0 10px
      i.icon
          color #AEBECA
          font-size 18px
          line-height 21px
      i.icon.chapter_iconsview
          font-size 14px
          margin-right -10px
      i.fa
          font-size 18px
      span
          color #AEBECA
          font-size 14px
          font-family 'AvenirNextMedium'
          vertical-align top
          margin-left 5px
          letter-spacing 0px
 .modal-open
     .modal-dialog
        width 750px
        &.modal-sm
            width: 580px
            .modal-content
                padding 20px
                .modal-header
                    .close
                        margin-top -23px
                        margin-right -15px
                .modal-body
                        padding 5px
                    p
                        margin-bottom 10px
                        text-transform uppercase
                        font-size 12px
                        font-family 'AvenirNextDemi'
                        text-align center
                        line-height 20px
                        margin-top 10px
                    .btn-block.btn-social
                        display inline-block
                        width 160px
                        text-align center !important
                        vertical-align bottom
                        margin 8px
                        padding-left 57px
                        span
                            line-height 40px
                        &:focus
                            outline none
        .modal-content 
             border-radius 4px
             padding 20px 60px
        .modal-backdrop.in
            background #1B2B3A
            opacity 0.85
        .modal-footer
            border-top 0
        .modal-body
            .form-group
                textarea.form-control 
                    height 100px
                    resize none
                    border 2px solid #DCE4EA
                    box-shadow none
                    border-radius 4px
                    margin-bottom 25px
                    padding 10px
                    &.error
                        border-color #d8536f
                    &.valid
                        border-color #B7D25A
                label
                    font-size 12px
                    color #5F5D63
                    font-family 'AvenirNextDemi'
                    letter-spacing 1px
                    &.error
                        color #d8536f !important
                        text-transform uppercase
                        margin-bottom 20px
                        margin-top -15px
                        display block
                        font-size 10px !important
        .modal-header
            border-bottom 0
            .close
                color #C4CFD8
                opacity 1
                font-size 38px               
                margin-right -45px                
                &:focus
                    outline none
        .caps
            text-transform uppercase
        
.btn.btn-primary
    height 46px
    padding 10px 20px
    font-size 12px
    letter-spacing 1px
    background #139EDC
    font-family 'AvenirNextDemi'
    border 0
    &[disabled]
        opacity 1
        background-color #139EDC
    
.modal-backdrop.in
    background-color #1B2B3A
    opacity 0.85
            
#dropzone
    .dz-preview 
        display block !important
        margin 32px auto 0 auto !important
        min-height 100px
        width 120px
        .dz-image
            img
                width 100%
    .dz-message 
        span
            color #139EDC
            font-size 12px
            font-family 'AvenirNextDemi'
            letter-spacing 1px
            i
                font-size 52px
                color #139EDC
                margin-bottom -10px
                display block
            span.or 
                margin-top 15px
                display block
                font-size 10px
                color #B4C1CC
            a.choose_file 
                color #AFCD48
                text-decoration underline
                margin-top -5px
                display block

#work_itself
    margin-top 0px
    margin-bottom 30px
    .btn-social
        margin 10px 0
    .work_info
        background #fff
        border 1px solid rgba(189,203,213,0.30)
        box-shadow 0px 2px 6px 0px rgba(0,0,0,0.15)
        padding 25px 20px
        .border
            height 8px
            background #139EDC
            margin -25px -21px 20px -21px
    .work_desk
        background #fff
        border 1px solid rgba(189,203,213,0.30)
        box-shadow 0px 2px 6px 0px rgba(0,0,0,0.15)
        .comments
            .mute
                font-size 12px
                color #BDCBD5
                text-transform uppercase
                margin-top 30px
                margin-bottom 80px
            .media
                margin 40px 0
                .media-left.media-top
                    a
                        img
                            width 40px
                            height 41px
                .media-body
                    .comment
                        display block
                        color #5f5d63
                        font-size 14px
                        line-height 23px
                        margin-top 5px
                        font-family 'AvenirNextMedium'
                        letter-spacing 0
                        padding-bottom 10px
                    .com_likes
                        .icobutton
                            vertical-align middle
                            margin-right 6px
                            &.yours
                                color rgb(216, 83, 111)
                                span
                                    color rgb(216, 83, 111)
                    .media-heading.name
                        font-size 12px
                        letter-spacing 0.7px


        .work_head
                margin-top 50px
                margin-bottom 20px
                .short_info
                    margin-top -25px
                    padding 0 20px
                    height auto
        .add_mark
            background #F5F7F8
            box-shadow inset 0px 3px 8px 0px rgba(234,236,236,0.70)
            .add_m
                height 40px
                margin 18px -10px 20px 20px
            .btn.btn-success 
                background #9CC315
                border-color #9CC315
            .btn-primary.disabled, 
            .btn-primary[disabled]
                background #139edc
                border-color #139edc
                
        .h_work
            img.work_image 
                width 100%
            .comment
                margin 35px 0
    h4.media-heading.name
        color #13A0DF
        font-size 12px
        text-transform uppercase
        letter-spacing 0.8px
        font-family 'AvenirNextDemi'
    .date
        color #92a4b2
        font-size 11px
        font-family 'AvenirNextDemi'
        letter-spacing 0
        position absolute
        margin-top 2px
    .work_info
        .media-left.media-top a img 
            width 40px
            height 40px
        .task_text 
            color #5F5D63
            font-size 14px
            line-height 23px
            letter-spacing 0
        .actions
            margin-top 25px
            a
                text-transform uppercase
                line-height 0
                margin-right 10px
                height 40px
                padding 11px 0 0 3px
                width 40px
                text-align center
                &.delete.btn-danger
                    background #D8536F
                    border-color #D8536F
                    padding 9px 0 0 3px
                .icon
                    font-size 20px
                    display inline-block
                    vertical-align bottom
                    margin-left -2px
                    
.tool_comment
    .tool_text 
        font-size 13px
        color #605E64
        letter-spacing 0.4px
        line-height 20px
        font-family 'AvenirNextMedium'
    span.pre_author
        margin-right 7px
    span.tip_date 
        color #92A4B2
        font-size 10px
        letter-spacing 0
        margin-top 16px
    .tool_author
        margin-top 12px
        display inline-block
        background #13A0DF
        padding 3px 8px
        border-radius 4px
        color #fff
        font-size 12px
        &.you
            background #D8536F
            text-align center
            padding-left 9px
.leave_comment
    .transparent_field
        width 100%
        height 60px
        margin-bottom 15px
        overflow hidden
        resize none
        border none
        font-size 13px
        display block
        margin-bottom 40px
        &:focus
            outline none
    .button
        color #fff
        height 46px
        background #13A0DF
        border none
        border-radius 0 0 3px 4px
        margin-right -20px
        position absolute
        bottom 0
        left 0
        width 100%
        font-size 12px
        text-transform uppercase
        letter-spacing 0.3px
        &:focus
            outline none
            
.critics
    margin-top 50px
    .critic_item
        height 60px
        .media
            .media-left.media-top
                display inline-block
                a
                    img
                        width 54px
                        margin-right 8px
            .media-body
                width calc(100% - 80px)
                display inline-block
                .critic_wrapper
                    display inline-block
                    vertical-align: top
                    width 250px
                    .media-heading.name
                        font-family 'AvenirNextDemi'
                        text-transform uppercase
                        font-size 16px
                        color #13a0df
                        letter-spacing 0.6px
                        margin-bottom 6px
                        margin-top 5px
                .stats
                    display inline-block
                    vertical-align top
                    .answers,
                    .thanks
                        display inline-block
                        font-size 15px
                        line-height 53px
                        margin-left 50px
                    span.value
                        font-size 30px
                        letter-spacing 0
                        color #139EDC
                        vertical-align top
.progress-button.active
    span.content
         visibility hidden
    span.content:after
        content 'Загружаю...'
        visibility visible
        margin-top -16px
        display block
    
.ns-box.ns-type-notice
    background #4CAF50
    .ns-close::before, 
    .ns-close::after
        background #126D16
        
.ns-box.ns-type-warning
    background #E2BC23
    .ns-close::before, 
    .ns-close::after
        background #A2850D
        
.ns-box.ns-type-error
    background #e74c3c
    .ns-close::before, 
    .ns-close::after
        background #941B0F
        
#edit_work
    .modal-dialog
        max-width 1280px
        width 100%
        .modal-content
            background transparent
            box-shadow none
            border 0
            .modal-body 
                position relative
                padding 15px
                display table
    .modal-backdrop.in
        opacity 0.93
            
#confirm
    .centered_btns
        width 250px
        margin 0 auto
    .btn
        margin 0 10px

a.btn
    display inline-block
    font-size 12px
    height 40px
    padding 10px 20px
    vertical-align middle
    border-radius 4px
    line-height 20px
    color #fff
    font-family 'AvenirNextDemi'
    text-transform uppercase
    letter-spacing 1px
    &.btn_primary
        background #139edc
        &:hover
            color #fff
    &.btn_danger
        background #d8536f
        &:hover
            color #fff
    &.ghost_button
        background transparent
        color #139edc
        border 2px solid #139edc
            
.user_tips 
    width 250px
    position relative
    background #FFFFFF
    display table-cell
    vertical-align top
    margin-left -4px
    padding 10px 0
    height 100%
    .close
        color #5B6D7B
        opacity 0.5
        font-size 38px
        margin 0 18px 13px 10px
        &:focus
            outline none
    span.caps.text-center.center-block.gray 
        color #92A5B2
        font-size 12px
        text-transform uppercase
        width 84%
    img.no_tips.text-center
        display block
        margin-left auto
        margin-right auto
        margin-top calc(100% - 100px)
        margin-bottom 20px
    .media
        padding 10px 20px
        margin-top 0
        cursor pointer
        .media-left a img 
            width 46px
        h4.media-heading 
            color #13A0DF
            font-size 12px
            margin-top 0
            letter-spacing 0.67px
            text-transform uppercase
            font-family 'AvenirNextDemi'
            margin-bottom 0
            overflow hidden
            text-overflow ellipsis
            width 170px
        .tips_counter
            margin-top -2px
            span
                color #92A4B2
                font-size 12px
                margin-right 3px
            img
                width 15px
        span.marker-date 
            font-size 10px
            color #92A4B2
            letter-spacing 0
            text-transform uppercase
        &.active
            cursor default
            background #F4F4F4
            box-shadow inset 0px 1px 9px 0px rgba(212,212,212,0.50)
        &:hover
            background #F4F4F4
            
#comment_form
    padding 0 20px
    textarea
        width 100%
        background #FFFFFF
        border 2px solid #DCE4EA
        border-radius 4px
        resize none
        box-shadow none
        min-height 90px
    .btn
        height 40px
        text-transform uppercase
        margin-left 15px
        margin-bottom 15px
        &.ghost_button
                background transparent
                color #139edc
                border 2px solid #139edc
                &:hover
                    color #139edc

.editableform 
    .control-group.form-group 
        width 100%
        .editable-input
            textarea
                width 100%
        .editable-buttons
            margin-top 20px
            .btn
                text-transform uppercase
                line-height 0
                margin-right 10px
                height 40px
                padding 0 0 0 1px
                width 40px
                text-align center
                color #fff
                font-size 14px
                &.btn-default
                    background #d8536f
                    border-color #d8536f
                    
ul.filters
  .menu_item
    margin 0
    &:nth-child(1).active
      & ~ .menu_line
        -webkit-transform translate3d(0, 0, 0)
        transform translate3d(0, 0, 0)
    &:nth-child(2).active
      & ~ .menu_line
        -webkit-transform translate3d(123%, 0, 0)
        transform translate3d(123%, 0, 0)
    &:nth-child(3).active
      & ~ .menu_line
        -webkit-transform translate3d(280%, 0, 0)
        transform translate3d(280%, 0, 0)
  .menu_link
    height 3em
    text-align center
    color #5f5d63
    -webkit-transition color 0.3s
    transition color 0.3s
  .active
    .menu_link
      color #139EDC
      -webkit-transition color 0.5s
      transition color 0.5s
  .menu_line
    position absolute
    top 100%
    left 5px
    width 120px
    height 4px
    margin-top -5px
    pointer-events none
    border-width 0 45px
    background #139EDC
    -webkit-transition -webkit-transform 0.5s
    transition transform 0.5s
    -webkit-transition-timing-function cubic-bezier(1, 0.01, 0, 1)
    -webkit-transition-timing-function cubic-bezier(1, 0.01, 0, 1.22)
    transition-timing-function cubic-bezier(1, 0.01, 0, 1.22)

ul.filters .menu_link:hover,
ul.filters .menu_link:focus
  color #139EDC

div#infscr-loading 
    img 
        display block
        margin 0 auto 10px auto
        -webkit-transform translateZ(0)
        -ms-transform translateZ(0)
        transform translateZ(0)
        -webkit-animation load8 0.9s infinite linear
        animation load8 0.9s infinite linear
                
#commented_people
    .row.people
        margin-bottom 20px
        .commented_person
            text-align center
            text-decoration none
            display block
            margin-top 30px
            opacity 1
            transition: opacity 0.2s ease-in-out
            img
                border-radius 50%
                margin 0 auto
                display block
                width 80%
                margin-bottom 10px
            span
                text-align center
                display block
                color #92a4b2
                text-transform uppercase
                font-family 'AvenirNextDemi'
                font-size 10px
                margin-bottom 1px
            &:hover
                opacity 0.6
.error_wrapper
    img.empty_logo
        position absolute
        z-index 1
        top -35px
        left 25px
    .error_bg
        position fixed
        top 0
        left 0
        width 100%
        height 100%
        background #261F3D
    .error_container 
        position relative
        z-index 1
        width 350px
        height 480px
        margin -40px auto 0 auto
        background #fff
        border-radius 12px
        padding 0 25px
        box-shadow 0 1px 3px rgba(0,0,0,.8),0 1px 2px rgba(0,0,0,.8)
        h3.caps
            margin-top 0
            text-transform uppercase
            font-size 14px  
            font-family 'AvenirNextBold'
        p
            margin-top: 25px;
            margin-bottom: 25px;
        .error_img
            margin 0 auto
            width 100%
            text-align center
            padding-top 30px
            img 
                width 100px
        a.btn.btn-primary.text-center.caps
            line-height 25px
            margin 0 auto
            display block
            width 250px
                
.author_page 
    width 100%
    margin-bottom 25px
    padding 10px 15px
    border-radius 5px
    border 1px solid #e7e7e7
    box-shadow 0px 2px 6px 0px rgba(0,0,0,0.07)
    .media-left
        a
            img
                width 42px
    .media-body
        h4
            font-family 'AvenirNextDemi'   
            font-size 14px
            color rgb(98, 104, 109)
            margin-top 15px
    .user_info
        float right
        margin-top 13px
        min-width 320px
        .icon.chapter_iconschat
            font-size 24px
            color #139edc
        .fa.fa-heart
            font-size 24px
            color #d8536f
            vertical-align top
        .fa.fa-file-image-o 
            font-size 24px
            color #afcd48
            vertical-align top
        span.inline
            font-size 18px
            vertical-align super
            margin-left 6px
            font-family 'AvenirNextDemi'
            letter-spacing -1px
            &.red 
                color #d8536f
            &.blue
                color #139edc
            &.green
                color #afcd48
span.infobox_close 
    float right
    font-size 21px
    color #697888;
    margin-top -10px
    margin-bottom -4px
    cursor pointer
    
button.btn.ghost_button.caps.pull-right
    font-size 12px
    font-family AvenirNextDemi
    letter-spacing 1px
    &:focus
        outline none