.content-wrap
  overflow hidden
  height 100% 

.menu-wrap
  position fixed
  z-index 1001
  width 300px
  height 100%
  background #1B162B
  padding 1.5em 1.5em 0
  font-size 1.15em
  -webkit-transform translate3d(320px,0,0)
  transform translate3d(320px,0,0)
  -webkit-transition -webkit-transform 0.4s
  transition transform 0.4s
  -webkit-transition-timing-function cubic-bezier(0.7,0,0.3,1)
  transition-timing-function cubic-bezier(0.7,0,0.3,1)
  right 0
  p.white
    color #fff
    font-size 13px
  .switcher 
      margin-top -2px
  hr
        border-color rgba(255, 255, 255, 0.18)
        margin-left -22px
        margin-right -22px
  .media
    margin-top 25px
    .media-object
        width 32px
        height 32px
    .media-body
        text-align left
        color rgba(255, 255, 255, 0.6)
        font-size 12px
        .media-heading
            color #fff
            font-size 12px
            text-align left
            font-family 'AvenirNextMedium'
            text-transform uppercase
  a
    color #b8b7ad

.menu-wrap a:hover,
.menu-wrap a:focus
  color #c94e50

.content_main
  position relative
  &::before
    position absolute
    top 0
    left 0
    z-index 10
    height 100%
    background rgba(0,0,0,0.4)
    content ''
    opacity 0
    -webkit-transform translate3d(100%,0,0)
    transform translate3d(100%,0,0)
    -webkit-transition opacity 0.4s, -webkit-transform 0s 0.4s
    transition opacity 0.4s, transform 0s 0.4s
    -webkit-transition-timing-function cubic-bezier(0.7,0,0.3,1)
    transition-timing-function cubic-bezier(0.7,0,0.3,1)

.show-menu
  .menu-wrap
    -webkit-transform translate3d(0,0,0)
    transform translate3d(0,0,0)
    -webkit-transition -webkit-transform 0.8s
    transition transform 0.8s
    -webkit-transition-timing-function cubic-bezier(0.7,0,0.3,1)
    transition-timing-function cubic-bezier(0.7,0,0.3,1)
  .content_main
    &::before
      opacity 1
      -webkit-transition opacity 0.8s
      transition opacity 0.8s
      -webkit-transition-timing-function cubic-bezier(0.7,0,0.3,1)
      transition-timing-function cubic-bezier(0.7,0,0.3,1)
      -webkit-transform translate3d(0,0,0)
      transform translate3d(0,0,0)

