.ns-box
  position fixed
  background rgba(42,45,50,0.85)
  padding 22px 22px 22px 21px
  line-height 1.4
  z-index 9999
  pointer-events none
  color rgba(250,251,255,0.95)
  font-size 90%
  &.ns-show
    pointer-events auto
  a
    color inherit
    opacity 0.7
    font-weight 700
  p
    margin 0

.ns-box a:hover,
.ns-box a:focus
  opacity 1

.ns-box.ns-show,
.ns-box.ns-visible
  pointer-events auto

.ns-close
  width 20px
  height 20px
  position absolute
  right 4px
  top 4px
  overflow hidden
  text-indent 100%
  cursor pointer
  -webkit-backface-visibility hidden
  backface-visibility hidden
  &::before
    -webkit-transform translate(-50%,-50%) rotate(45deg)
    transform translate(-50%,-50%) rotate(45deg)
  &::after
    -webkit-transform translate(-50%,-50%) rotate(-45deg)
    transform translate(-50%,-50%) rotate(-45deg)

.ns-close:hover, 
.ns-close:focus
  outline none

.ns-close::before,
.ns-close::after
  content ''
  position absolute
  width 3px
  height 60%
  top 50%
  left 50%
  background #6e6e6e

.ns-close:hover::before,
.ns-close:hover::after
  background #fff


.progress-button {
	position: relative;
	z-index: 50;
}

.progress-button .content {
	position: relative;
	display: block;
	z-index: 10;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.progress-button .progress {
	position: absolute;
	left: 0;
	background: #116990;
	top: 0;
	width: 0%;
	opacity: 0;
	height: 100%;
	z-index: 0;
	-webkit-transition: width 0s 0.3s, opacity 0.3s;
	transition: width 0s 0.3s, opacity 0.3s;
}

.progress-button.active .progress {
	opacity: 1;
	width: 100%;
	-webkit-transition: width 1.2s;
	transition: width 1.2s;
}
  
  
  
  
  
  
  
  
