
#dropzone, #dropzone *
  box-sizing border-box

#dropzone
  min-height 230px
  border 2px dashed #B1C0CC
  background url(../img/upload_background.png)
  background-repeat no-repeat
  background-size 100%
  padding 20px 20px
  border-radius 8px
  &.dz-clickable
    cursor pointer
    *
      cursor default
  &.dz-started
    .dz-message
      display none
  &.dz-drag-hover
    border-style solid
    .dz-message
      opacity 0.5
  .dz-message
    text-align center
    margin 2em 0
  .dz-preview
    position relative
    display inline-block
    vertical-align top
    margin 16px
    min-height 100px
    &:hover
      z-index 1000
      .dz-details
        opacity 1
        opacity 1
      .dz-image
        img
          -webkit-transform scale(1.05, 1.05)
          -moz-transform scale(1.05, 1.05)
          -ms-transform scale(1.05, 1.05)
          -o-transform scale(1.05, 1.05)
          transform scale(1.05, 1.05)
          -webkit-filter blur(8px)
          filter blur(8px)
    &.dz-file-preview
      .dz-image
        border-radius 20px
        background #999
        background linear-gradient(to bottom, #eee, #ddd)
      .dz-details
        opacity 1
    &.dz-image-preview
      background white
      .dz-details
        -webkit-transition opacity 0.2s linear
        -moz-transition opacity 0.2s linear
        -ms-transition opacity 0.2s linear
        -o-transition opacity 0.2s linear
        transition opacity 0.2s linear
    .dz-remove
      font-size 14px
      text-align center
      display block
      cursor pointer
      border none
      &:hover
        text-decoration underline
    .dz-details
      z-index 20
      position absolute
      top 0
      left 0
      opacity 0
      font-size 13px
      min-width 100%
      max-width 100%
      padding 2em 1em
      text-align center
      color rgba(0, 0, 0, 0.9)
      line-height 150%
      .dz-size
        margin-bottom 1em
        font-size 16px
      .dz-filename
        white-space nowrap
        &:hover
          span
            border 1px solid rgba(200, 200, 200, 0.8)
            background-color rgba(255, 255, 255, 0.8)
        &:not(:hover)
          overflow hidden
          text-overflow ellipsis
          span
            border 1px solid transparent
    .dz-image
      border-radius 20px
      overflow hidden
      width 120px
      height 120px
      position relative
      display block
      z-index 10
      img
        display block
    &.dz-success
      .dz-success-mark
        -webkit-animation passing-through 3s cubic-bezier(0.77, 0, 0.175, 1)
        -moz-animation passing-through 3s cubic-bezier(0.77, 0, 0.175, 1)
        -ms-animation passing-through 3s cubic-bezier(0.77, 0, 0.175, 1)
        -o-animation passing-through 3s cubic-bezier(0.77, 0, 0.175, 1)
        animation passing-through 3s cubic-bezier(0.77, 0, 0.175, 1)
    &.dz-error
      .dz-error-mark
        opacity 1
        -webkit-animation slide-in 3s cubic-bezier(0.77, 0, 0.175, 1)
        -moz-animation slide-in 3s cubic-bezier(0.77, 0, 0.175, 1)
        -ms-animation slide-in 3s cubic-bezier(0.77, 0, 0.175, 1)
        -o-animation slide-in 3s cubic-bezier(0.77, 0, 0.175, 1)
        animation slide-in 3s cubic-bezier(0.77, 0, 0.175, 1)
      .dz-error-message
        display block
      &:hover
        .dz-error-message
          opacity 1
          pointer-events auto
    &.dz-processing
      .dz-progress
        opacity 1
        -webkit-transition all 0.2s linear
        -moz-transition all 0.2s linear
        -ms-transition all 0.2s linear
        -o-transition all 0.2s linear
        transition all 0.2s linear
    &.dz-complete
      .dz-progress
        opacity 0
        -webkit-transition opacity 0.4s ease-in
        -moz-transition opacity 0.4s ease-in
        -ms-transition opacity 0.4s ease-in
        -o-transition opacity 0.4s ease-in
        transition opacity 0.4s ease-in
    &:not(.dz-processing)
      .dz-progress
        -webkit-animation pulse 6s ease infinite
        -moz-animation pulse 6s ease infinite
        -ms-animation pulse 6s ease infinite
        -o-animation pulse 6s ease infinite
        animation pulse 6s ease infinite
    .dz-progress
      opacity 1
      z-index 1000
      pointer-events none
      position absolute
      height 16px
      left 50%
      top 50%
      margin-top -8px
      width 80px
      margin-left -40px
      background rgba(255, 255, 255, 0.9)
      -webkit-transform scale(1)
      border-radius 8px
      overflow hidden
      .dz-upload
        background #333
        background linear-gradient(to bottom, #666, #444)
        position absolute
        top 0
        left 0
        bottom 0
        width 0
        -webkit-transition width 300ms ease-in-out
        -moz-transition width 300ms ease-in-out
        -ms-transition width 300ms ease-in-out
        -o-transition width 300ms ease-in-out
        transition width 300ms ease-in-out
    .dz-error-message
      pointer-events none
      z-index 1000
      position absolute
      display block
      display none
      opacity 0
      -webkit-transition opacity 0.3s ease
      -moz-transition opacity 0.3s ease
      -ms-transition opacity 0.3s ease
      -o-transition opacity 0.3s ease
      transition opacity 0.3s ease
      border-radius 8px
      font-size 13px
      top 130px
      left -10px
      width 140px
      background #be2626
      background linear-gradient(to bottom, #be2626, #a92222)
      padding 0.5em 1.2em
      color white
      &:after
        content ''
        position absolute
        top -6px
        left 64px
        width 0
        height 0
        border-left 6px solid transparent
        border-right 6px solid transparent
        border-bottom 6px solid #be2626

#dropzone.dz-clickable .dz-message, #dropzone.dz-clickable .dz-message *
  cursor pointer

#dropzone .dz-preview .dz-details .dz-filename span, #dropzone .dz-preview .dz-details .dz-size span
  background-color rgba(255, 255, 255, 0.4)
  padding 0 0.4em
  border-radius 3px

#dropzone .dz-preview .dz-success-mark, #dropzone .dz-preview .dz-error-mark
  pointer-events none
  opacity 0
  z-index 500
  position absolute
  display block
  top 50%
  left 50%
  margin-left -27px
  margin-top -27px

#dropzone .dz-preview .dz-success-mark svg, #dropzone .dz-preview .dz-error-mark svg
  display block
  width 54px
  height 54px

